html {
    color: AntiqueWhite;
    background-color: #333;
    font-family: "League Spartan", sans-serif;
}

body {
    width: 65%;
    margin: auto;
}

a, a:visited {
    color: green;
    color: #59FB2B;
    color: #4EEC22;
    color: #33B40E;
    text-decoration: none;
}

a:hover {
    color: orange;
    color: #FF8209;
}

a:visited {
    
}

#header {
    font-size: 3em;
    font-weight: 100;
    padding: 20px 0px;
}

.link_div {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 3px;
}

.link_div a:hover {
    font-weight: 400;
}